.link-home {
  text-decoration: none;
}

.container-nav {
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding-top: 55px;
}

.headline-nav {
  color: white;
  font-size: 15pt;
  margin: 0;
  padding-left: 10px;
  z-index: 5;
}

.app-icon {
  width: 6%;
  z-index: 5;
}

.bg-navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
}
