.circle-pic {
  width: auto;
  height: 100%;
  margin-left: 0;
}

.crop-image {
  position: sticky;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 150px auto 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
